#team_person,#sellerCheck,#userManage{
    width: 201px;
    clear: both;
}

#person,#fenpei.customer,#receipt{
    border-right:1px solid #fff;
    width: 100px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    background: #ddd;
    float: left;
    cursor: pointer;
}
#team,#notfenpei.customer,#notreceipt{
    width: 100px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    background: #ddd;
    float: left;
    cursor: pointer;
}
#team.active,#person.active,#notfenpei.customer.active,#fenpei.customer.active,#notreceipt.active,#receipt.active{
    background: #84b0a6;
    color: #fff;
}

.form-group label.error{
    color:red
}
.fordetail,.deletSeller,.rechargeDetail,.belongTeam,.handCharge,.editVersion, .deletCategory, .editCategory{
    cursor: pointer;
}
.fp-embed{
    display: none !important;
}
.fp-embed-code{
    display: none !important;
}
.fp-controls .fp-brand{
    display: none !important;
}
#secondBody{
    text-align: center;
}
#secondBody .row:first-child{
    margin-bottom: 10px;
}
#secondBody .row:first-child>div.col-sm-4{
    border: none;
}
#secondBody .row{
    margin-bottom: 5px;
}
#secondBody .row>div.col-sm-4{
    line-height: 30px;
    height: 30px;
    border: 1px solid #ddd;
}
#secondBody .row>div.col-sm-8{
    line-height: 30px;
    height: 30px;
}

#setBody .panel .panel-body{
    padding-top: 10px;
}
#setSaveBtn{
    display: block;
    margin:0 auto;
    width:100px;
    padding-top:8px;
    padding-bottom: 8px
}

.allKehu div,.allvideo div,.allSeller div{
    font-size: 18px;
    text-align: center;
    height:40px;
    line-height: 40px;
    cursor: pointer;
}
.allKehu div.active,.allvideo div.active,.allSeller div.active{
    background: #fff;
}

.perPanel small{
    color: #B7B7B7;
    font-size: 12px;
}
.perPanel .panel-group{
    margin-bottom: 0;
}
.perPanel h5{
    margin:auto 15px;
    display: inline-block;
}
.perPanel .content{
    font-size: 15px;
}
.perPanel .clearfix .head{
    float: left;
    width: 50px;
}
.perPanel .clearfix .headTip{
    float: left;
    margin-left: 15px;
}

.tabImg,.tabImgready{
    width: 96px;
    height:54px;
    overflow:hidden;
    position: relative;
}
.tabImg img{
    width: 100%;
    height:100%;
    cursor: pointer;
}
.tabImgready img{
    width: 100%;
}
.reportInfo{
    cursor: pointer;
}
.reportImgBox{
    width: 96px;
    height:54px;
    overflow: hidden;
}
.reportImgBox img{
    width: 100%;
}
.hotPoint,.delPoint{
    color: red;
    position: absolute;
    top: 1px;
    right: 3px;
}
.handleStick, .handleHot,.setcount,.forCard,.forOrder,.reportImgBox, .handleCategory{
    cursor: pointer;
}

.coverAdv:before{
    content: "\272D";
    color:red;
    font-size: 12px;
    position: relative;
    bottom: 3px;
}
.imgBoxAdv{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
}

.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    cursor: pointer;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}
#filePicker img{
    width: 100%;
}
.resetBtn{
    margin-bottom: 0;
    padding: 5px 12px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 900px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}

/*打印的表格*/
#sprintTable thead tr,#sprintTable tbody tr{
    border-bottom:1px solid #ddd;
    width: 100% !important;
}
#sprintTable thead th,#sprintTable tbody td{
    text-align: center;
    padding: 10px 2px 10px 2px;
    font-size: 10px;
}
#sprintTable thead th:nth-child(1),#sprintTable tbody th:nth-child(1){
    width: 14%;
}
#sprintTable thead th:nth-child(2),#sprintTable tbody th:nth-child(2){
    width: 7%;
}
#sprintTable thead th:nth-child(3),#sprintTable tbody th:nth-child(3){
    width: 19%;
}
#sprintTable thead th:nth-child(4),#sprintTable tbody th:nth-child(4){
    width: 7%;
}
#sprintTable thead th:nth-child(5),#sprintTable tbody th:nth-child(5){
    width: 6%;
}
#sprintTable thead th:nth-child(6),#sprintTable tbody th:nth-child(6){
    width: 19%;
}
#sprintTable thead th:nth-child(7),#sprintTable tbody th:nth-child(7){
    width: 9%;
}
#sprintTable thead th:nth-child(8),#sprintTable tbody th:nth-child(8){
    width: 6%;
}
#sprintTable thead th:nth-child(9),#sprintTable tbody th:nth-child(9){
    width: 6%;
}
#sprintTable thead th:nth-child(10),#sprintTable tbody th:nth-child(10){
    width: 7%;
}


/*教师详情页*/

#teacherInfo{
    font-size: 18px;
    height: 75px;
    line-height: 75px;
    margin-left: 30px;
}

@media (max-width: 1200px){
    .sidebar-menu{
        width: 210px;
    }
}
.deleteVideo{
    position: absolute;
    color: #fff;
    background: #000;
    width: 100%;
    text-align: center;
    padding: 5px;
}

.handleStick, .handleCategory {
    margin-left: 20px;
}

.deletCategory {
    margin-left: 20px;
}


